.nav-menu {background:#66b8f7;}
.posthead:after, .likeThis:hover, .sidebody li a:hover:before {background:#66b8f7;}
html a, body a {color:#66b8f7;}
.foot-top .wikivb a, .foot-top .copyright a {color:#66b8f7;}
.two-button:after {color:#66b8f7;}
.colorselect a .selectblue:before {display:block;}
.loginbutton:hover {background:#66b8f7;}
.nolog-link:hover, .nolog-link a:hover {color:#66b8f7;}
#open-login:hover:before, #register-link a:hover:before {background:#66b8f7;}
.toplinkslogout span:hover:before, .toplinkspannel span:hover:before {color:#66b8f7;}