.nav-menu {background:#bdd753;}
.posthead:after, .likeThis:hover {background:#b1c65c;}
html a, body a {color:#91ae1b;}
.sidebody li a:hover:before {background:#91ae1b;}
.foot-top .wikivb a, .foot-top .copyright a {color:#bdd753;}
.two-button:after {color:#bdd753;}
.colorselect a .selectgreen:before {display:block;}
.loginbutton:hover {background:#bdd753;}
.nolog-link:hover, .nolog-link a:hover {color:#bdd753;}
#open-login:hover:before, #register-link a:hover:before {background:#bdd753;}
.toplinkslogout span:hover:before, .toplinkspannel span:hover:before {color:#bdd753;}